  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - Bazel</title>
    <script>
      var current_url = window.location.href;

      // Do a shortcut so that be.bazel.build redirect to the build encyclopedia
      var be_url = new RegExp("^https?://be(\.bazel.build)?/?");
      if (be_url.test(current_url)) {
        window.location.replace(current_url.replace(be_url, "https://docs.bazel.build/be/overview.html"));
      }
      var be_url = new RegExp("^https?://be(\.bazel.build)?/([a-zA-Z0-9_-]+)([/#](.*))?");
      if (be_url.test(current_url)) {
        window.location.replace(current_url.replace(be_url, "https://docs.bazel.build/be/$2.html#$4"));
      }
      // And a short to code reviews
      var cr_url = new RegExp("^https?://cr(\.bazel.build)?/([0-9]+)")
      if (cr_url.test(current_url)) {
        window.location.replace(current_url.replace(cr_url, "https://bazel-review.googlesource.com/c/$2"));
      }
      // Code review dashboard
      var cr_url = new RegExp("^https?://cr(\.bazel.build)?/?")
      if (cr_url.test(current_url)) {
        window.location.replace(current_url.replace(cr_url, "https://bazel-review.googlesource.com/"));
      }
    </script>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site_root }}">

    <!-- Webfont -->
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700|Open+Sans:400,600,700,800" rel="stylesheet">

    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!--
      Metadata tags.

      The metadata tag's name attribute is specified in the HTML5 spec for
      specifying metadata, and the property attribute comes from RDFa, which
      itself extends HTML5. It's valid to use both name and property in the
      same metadata element.

      og:<tag> is part of the Open Graph protocol by Facebook, but are also used
      by other social media sites like Linkedin.
    -->
    <meta name="og:title" property="og:title" content="{{ page.title }}">
    <meta name="og:image" property="og:image" content="{{ site.assets_url }}/images/bazel-og-image.png">
    <meta name="og:type"  property="og:type"  content="website">
    <meta name="og:url"   property="og:url"   content="{{ page.url }}">

    <!-- Twitter has its own custom cards meta tags. -->
    <meta property="twitter:card"  content="summary_large_image">
    <meta property="twitter:url"   content="{{ page.url }}">
    <meta property="twitter:title" content="{{ page.title }} - Bazel">
    <meta property="twitter:image" content="{{ site.assets_url }}/images/bazel-og-image.png">
  </head>
