.home {
  $shared-padding: 40px;
  $landing-alternate-bg-color: #fafafa;
  $logos-padding: $shared-padding;
  $section-padding: $shared-padding / 2;
  $text-light-color: #777;

  p, li {
    font-size: 16px;
  }

  .lead {
      font-size: 21px;
  }

  h2,
  .tagline {
    text-align: center;
  }

  h1 {
    font-weight: 300;
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;;
  }

  .buttons {
    margin-top: $shared-padding;
  }

  .hero .logo {
      max-width: 150px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
  }

  .tagline {
    margin-top: 20px;
  }

  .main-cta {
    margin-left: $shared-padding;
  }

  blockquote {
    border-left: none;
  }

  .users {
    .user-logo-container {
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;

      .user-logo {
        width: 150px;
      }
      .user-logo.square {
        width: 70px;
      }
    }
  }

  .landing-section {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
  }

  .logos {
    padding-top: $logos-padding;
    padding-bottom: $logos-padding;
  }

  .hero,
  .get-started,
  .features {
    background-color: $landing-alternate-bg-color;
  }

  .beta {
    padding-top: 20px;
    color: $text-light-color;
    p {
      font-size: 14px;
    }
  }

}
