---
nav: contribute
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/WebPage">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="container vpad">
      <div class="row">
        <div class="col-md-2">
          <a class="btn btn-default btn-lg btn-block sidebar-toggle"
              data-toggle="collapse" href="#sidebar-nav" aria-expanded="false"
              aria-controls="sidebar-nav">
            <i class="glyphicon glyphicon-menu-hamburger"></i> Navigation
          </a>
          <nav class="sidebar collapse" id="sidebar-nav">
            <ul class="sidebar-nav">
              <li><a href="/contributing.html">Contributing to Bazel</a></li>
              <li><a href="https://github.com/bazelbuild/bazel/wiki/Bazel-Users">Who's Using Bazel</a></li>
              <li><a href="/governance.html">Governance</a></li>
              <li><a href="/roadmap.html">Roadmap</a></li>
              <li><a href="/recommended-rules.html">Recommended rules</a></li>
              <li><a href="/support.html">Support</a></li>
            </ul>
            <h3>Contributors guide</h3>
            <ul class="sidebar-nav">
              <li><a href="/basics/getting_started.html">Getting started</a></li>
              <li><a href="/basics/patching.html">Patch acceptance process</a></li>
              <li><a href="/designs/index.html">Design documents</a></li>
              <li><a href="/basics/release-notes.html">Release notes</a></li>
              <li><a href="/naming.html">Naming Bazel projects</a></li>
              <li><a href="/maintaining/breaking-changes-guide.html">Rolling out breaking changes</a></li>
            </ul>
            <h3>Maintainers guide</h3>
            <ul class="sidebar-nav">
              <li><a href="/maintaining/maintainers-guide.html">Guide for Bazel Maintainers</a></li>
              <li><a href="/maintaining/windows-chocolatey-maintenance.html">Maintaining Bazel Chocolatey package on Windows</a></li>
              <li><a href="/maintaining/windows-scoop-maintenance.html">Maintaining Bazel Scoop package on Windows</a></li>
              <h4>Bazel internals</h4>
              <li><a href="/designs/skyframe.html">Skyframe</a></li>
            </ul>
            <h3>External resources</h3>
            <ul class="sidebar-nav">
              <li><a href="https://github.com/bazelbuild/bazel">GitHub</a></li>
              <li><a href="https://source.bazel.build/">Search Bazel code</a></li>
              <li><a href="/browse-and-search-user-guide.html">Search user guide</a></li>
              <li><a href="https://groups.google.com/forum/#!forum/bazel-dev">Developer mailing list</a></li>
              <li><a href="https://slack.bazel.build">Slack</a></li>
              <li><a href="/experts.html">Community Experts</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-8">
          <div class="content">
            {{ content }}
          </div>
        </div>

        <div class="col-md-2 sticky-sidebar">
          <div class="right-sidebar">
            <ul class="gh-links">
                <li><a href="https://github.com/bazelbuild/bazel/issues/new?title=Documentation issue: {{ page.title }}&body=Documentation URL: https://docs.bazel.build{{ page.url }}&labels=type: documentation"><i class="fa fa-github"></i> Create issue</a></li>
            </ul>
            {{ content | toc_only }}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
